.App {
  padding: 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.empty-img{
  max-width: 300px;
  position: absolute;
  left: 50%;
  top:50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.mybutton {
  position: fixed;
  bottom: 100px;
  right: 40px;
  z-index: 1;
}